<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="lib/angular/angular.js"></script>
        <script src="./main.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Ohm Delivery</title>
    </head>
    <body>
        <div class="banner">
            <h1>Ohm Delivery</h1>
            <h2>Get shocked by the power</h2>
        </div>
        
        <div ng-app="ohm-delivery" ng-controller="tracking">
            <form ng-submit="getOhm()">
                <p>
                    <input id="tracking" type="text" ng-model="trackingId" placeholder="Enter your tracking id"/>
                </p>
                <p>
                    <button id="formBtn" type="submit">Submit</button>
                </p>
                <p>
                    <span ng-if="errorMessage" id="error">{{errorMessage}}</span>
                </p>
            </form>
            <div ng-if="result">
                <div class="reorder">
                    <button ng-click="reorder()">Reorder</button>
                </div>
                <div class="row">
                    <div>Tracking ID</div>
                    <div>Status</div>
                    <div>Volts</div>
                    <div>Amperes</div>
                    <div>Customer</div>
                    <div>Address</div>
                    <div>Reason</div>
                    <div>Comments</div>
                </div>

                <div class="row">
                    <div>{{result.trackingId}}</div>
                    <div>{{result.status}}</div>
                    <div>{{result.description.volts}}</div>
                    <div>{{result.description.amperes}}</div>
                    <div>{{result.client.name}}</div>
                    <div>{{result.client.address}}</div>
                    <div>{{result.reason || ''}}</div>
                    <div ng-if="result.comment">{{result.comment}}</div>
                </div>

                <div class="status" ng-if="result.status !== 'DELIVERED' || result.status !== 'REFUSED'">
                    <select 
                        ng-model="status" 
                        ng-options="item for item in statuses"
                        ng-change="changeStatus(status)" 
                    >
                    </select>
                    <input 
                        type="text" 
                        ng-model="val" 
                        placeholder="Enter your reason" 
                        ng-if="status === 'REFUSED'" 
                        ng-change=changeReason(val)
                    />
                    <button ng-click="update()">Change status</button>
                </div>

                <div class="comment" ng-if="!result.comment">
                    <textarea 
                        type="text" 
                        ng-model="val" 
                        placeholder="Enter your comment" 
                        ng-change=changeComment(val)
                    ></textarea>
                    <button ng-click="update()">Add Comment</button>
                </div>

                <div class="history">
                    <span>Tracking history:</span>
                    <ul ng-repeat="item in result.history">
                        <li>{{item.state}}: {{item.at | date:'yyyy-MM-dd HH:mm'}}</li>
                    </ul>
                </div>
        </div>
    </body>
</html>