body {
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  font-family: 'Open Sans', serif;
}

.banner {
  background-color: dodgerblue;
}

#error {
  color: red;
}

h1 {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-style: italic;
}

input {
  margin: 2em auto 1em;
  width: 50%;
  padding: 10px;
}

p {
  text-align: center;
  margin: auto;
  line-height: 2;
}

button {
  padding: 10px;
  background: dodgerblue;
  color: white;
  border: none;
  margin-bottom: 20px;
}

button:hover {
  color: black;
  cursor: pointer;
}

select {
  padding: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
}

.row > div {
  border-right: 1px solid black;
  padding: 10px;
}

.row > div:nth-child(7) {
  border-right: none;
}

.history,
.status {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.status > button {
  padding: 5px 8px;
}

.status > input {
  padding: 4px;
}

.reorder {
  display: flex;
  justify-content: center;
}
